@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --pink-color: #F484A3;
    --pastel-pink: #FFC5CF;
    --green: #88B0A5;
    --purple: #72528e;
    --cream: #FFE3F9;
    --black: #000000;
    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #FFE3F9 ;
    font-family: 'Poppins', sans-serif;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.swiper-button-prev::after{
    font-size:25px;

}

.swiper-button-next::after{
    font-size:25px;
    
}

.swiper-button-next{
    color: black;
}

.swiper-button-prev{
    color: black;
}

.swiper-pagination-bullet{
    background: blue;
    opacity: 1;

}

.swiper-pagination-bullet-active{
    background: red;
}



.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    
    align-items: center;
    padding: 10px 50px;
    z-index:1000;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-1{
    margin-right: 180px;
    padding: 10px;

}

.menu-1 ul li a{
    padding: 24px;

}

.menu-2{
    margin-left: 180px;
    display: flex;
    align-items: center;
}

.logo-1{
    width: 0;
}


.logo-2{
    width: 110px;
}

.socials{
    display: flex;
}

.social{
    margin: 0 10px;
    height:40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--green);
    

}

.social:hover{
    background-color: var(--pink-color);
    color: black;
}

.social img{
    margin: 8px 0 0 10px;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 12px;
    color: rgb(0, 0, 0);
    display: block;
}

.menu .navbar ul li a:hover{
    background-color: #f484a474;
    color: black;
    border-radius: 20px;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
    
}

.menu label{
    cursor: pointer;
    display: none;

}

.header-content{
    margin-top:200px;
    padding-bottom: 50px;
}

.slider{
    display: flex;
    align-items: center;

}

.slider-txt{
    margin-left: 85px;
    width:50%;
    
}

.slider-txt h1{
    font-size: 70px;
    font-weight: 900;
    color: #F484A3;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Pacifico', sans-serif;
    letter-spacing: 5px;
} 

.slider-txt p{
     font-size: 20px;
     color: black;
   
}

.botones{
    margin-top:50px;
}

.btn-1{
    display: inline-block;
    padding: 15px 35px;
    background-color: var(--green);
    color: white;
    font-weight: 800;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.btn-1:hover{
    background-color: #ff867c; 
    transform: scale(1.05); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}

.slider-img{
    width: 50%;
}

.slider-img img{
    margin-right: 225px;
    width: 600px;
}

.products{
    background-color:var(--green);
}

.products h2{
    text-align: center;
    padding-top: 30px;
    font-size: 62px;
    color: var(--white);
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.tabs{
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0px;
}

.tabs label{
    width: 15%;
    order: 1;
    display:block;
    padding: 20px 0;
    text-align: center; 
    cursor: pointer;
    color: var(--black);
    font-weight: 800;
    transition: background ease 0.2s;
}

.tabs .tab{
    order: 99;
    flex-grow: 1;
    width: 100%;
    display: none;
    padding-top: 25px;
}


.tabs input[type="radio"]{
    display: none;
}

.tabs input[type="radio"]:checked + label{
    border-bottom: 2px solid var(--purple);
    color: #E8C547;
}

.product{
    display:flex;
    align-items: center;
    padding: 25px;
    margin: 0 10px;
}

.product-img{
    width: 50%;
    text-align: left;
}

.product-img h4{
    display: inline-block;
    padding: 5px 7px;
    line-height: 15px;
    color: white;
    font-size:14px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid black;
    border-radius: 15px;
    margin-bottom: 50px;
}

.product-img img{
    width: 150px;
    height: 120px;
}

.product-txt{
    width: 50%;
    margin: 10px;
    text-align: left;
}


.product-txt h4{
    color: white;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 10px;

}

.product-txt p{
    color: black;
    font-size: 16px;
    margin-bottom: 15px;

}

.product-txt span{
    color: white;
    font-size: 16px;
    font-weight: 800;
}


.info{
    padding: 100px 0px;
    display: flex;
    align-items: center;
    

}

.info-img{
    width: 50%;
    
}

.info-img img{
    width: 500px;
    height: 250px;
}

.info-txt{
    width: 50%;

}

.info-txt h2{
    font-size: 62px;
    color: var(--pink-color);
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.info-txt p{
    color: rgb(7, 1, 1);
    font-size: 18px;
    margin-bottom: 50px;
}



.horario{
    padding: 100px 0;
    background-color: var(--green);
}

.horario-info h2{
    font-size: 75px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
}

.horario-txt {
    display: flex;
    justify-content: space-between;
}

.txt{
    color: #ffffff;
}

.txt h4{
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}


.txt p{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}

.map{
    filter: grayscale(100%) invert(92%);
}

.footer{
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.links h4{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    margin-bottom: 25px;
}

.links ul li a{
    color: rgb(92, 2, 2);
    font-size: 15px;
    margin-bottom: 5px;
    display: inline-block;
}


.card-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 40px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    font-size: 1.5em;
    margin: 15px 0;
    color: var(--pink-color);
    font-family: 'Pacifico', sans-serif;
}

.card p {
    padding: 0 20px;
    color: #555;
}

.card button {
    background-color: var(--green);
    color: white;
    font-weight: 800;
    border: none;
    letter-spacing: 2px;
    padding: 10px 20px;
    margin: 15px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card button:hover {
    background-color: #ff867c;
}

@media(max-width:991px){
    .menu{
        padding: 20px;
        justify-content: center;
        align-items: center;
    }

    .menu-2{
        display: none;
    }

    .logo1{
        width: 100px;
    }


    .logo-2{
        width: 0;
    }

    .logo-2:hover{
       
        transform: scale(1.05); 
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--green);
        display: none;
        text-align: center;
    }


    .menu.navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header-content{
        padding: 30px;
        margin-top: 100px;
    }

    .slider{
        flex-direction: column;
    }

    .slider-txt{
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .slider-txt h1{
       font-size: 40px;
    }

    .slider-txt p{
        font-size: 16px;
    }

    .btn-1{
        padding: 10px 25px;
        font-size: 14px;
    }

    .slider-img{
        width: 100%;
        text-align: center;
    }

    .slider-img img{
        width: 300px;
        margin-right: 0px;
    }

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets, .swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction{
        bottom: -7px;
    }

    .tabs{
        padding: 50px 30px;
    }

    .tabs label{
        width: 33%;
    }

    .info{
        padding: 30px;
        flex-direction: column;
    }

    .info-img{
        width: 100%;
        text-align: center;
    }

    .info-img img{
        width: 400px;
        height: 200px;
        margin-bottom: 25px;
    }

    .info-txt{
        width: 100%;
        text-align: center;
    }

    
    .info-txt h2{
        font-size: 50px;
    }

    .info-txt p{
        font-size: 16px;
    }

    .btn-1  {
        font-size: 16px;
    }

    .horario{
        padding: 30px;
        text-align: center;
    }

    .horario-info h2{
        font-size: 50px;
        margin-bottom: 15px;
    }

    .horario-txt{
        flex-direction: column;
    }

    .socials{
        justify-content: center;
    }

    .socials img{
        margin: 8px 0 0 0;
    }

    .footer{
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .links h4{
        margin: 25px 0 10px 0;
    }


}

